{% extends 'members/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">
        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>


        <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact">
            <div class="w3-content" style="max-width:600px">
                <h4 class="w3-center"><b>꾸다 구성원 추가</b></h4>
                <p>꾸다 구성원이 되고 싶으면 아래 양식을 추가 하세요!</p>
                <form method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% translate "B_SAVE" %}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}