{% extends 'members/base.html' %}
{% load static %}
{% block content %}
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">
        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <!-- Photo grid -->
        <div class="w3-row">
      {% comment %}      {% for member in members %}
                {{ member.member_legs.legs_type }}
            {% endfor %}{% endcomment %}

            <div class="w3-third">
                <a href="{% url 'member_detail' pk=members.0.pk %}">
                    <img src="{% static 'img/99.jpeg' %}" style="width:100%">
                </a>
                <a href="">
{#                <a href="{% url 'post_detail' pk=post.pk %}">#}
                    <img src="{% static 'img/77.JPEG' %}" style="width:100%">
                </a>
                <a href="">
{#                <a href="{% url 'post_detail' pk=post.pk %}">#}
                    <img src="{% static 'img/roy.jpeg' %}" style="width:100%">
                </a>
            </div>

            <div class="w3-third">
                <a href="">
{#                <a href="{% url 'post_detail' pk=post.pk %}">#}
                    <img src="{% static 'img/do.JPEG' %}" style="width:100%">
                </a>
                <a href="">
{#                <a href="{% url 'post_detail' pk=post.pk %}">#}
                    <img src="{% static 'img/yul.jpeg' %}" style="width:100%">
                </a>
                <a href="">
{#                <a href="{% url 'post_detail' pk=post.pk %}">#}
                    <img src="{% static 'img/ran.JPEG' %}" style="width:100%">
                </a>
            </div>

        </div>
    </div>
{% endblock %}